<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>945974748331-tc93rhk64dgdc6d4j62obvc7vn4vr009.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.945974748331-tc93rhk64dgdc6d4j62obvc7vn4vr009</string>
	<key>API_KEY</key>
	<string>AIzaSyC4t5CqkQn7NoJSBC_8E8DFnR2bibYo_sQ</string>
	<key>GCM_SENDER_ID</key>
	<string>945974748331</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.clinica-city.app</string>
	<key>PROJECT_ID</key>
	<string>clinica-city-mobile-app</string>
	<key>STORAGE_BUCKET</key>
	<string>clinica-city-mobile-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:945974748331:ios:cac15425d2eece2b35c3ee</string>
</dict>
</plist>
